
<!DOCTYPE html>
<html>
<!-- start head.html-->
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />


    <link rel="shortcut icon" href="../../dist/img/favicon.ico" />
    <link href="../../dist/css/screen.css" rel="stylesheet">
    <link href="../../dist/css/init.css" rel="stylesheet">

    <!-- Внизу это библиотека jQuery. Проверьте, возможно она у Вас уже установлена -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../src/js/init.js"></script>

    <!--[if lt IE 9]>
    <link href="../../dist/css/ie.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="../../src/js/html5.js"></script><![endif]-->
</head>
<!-- end head.html-->

<body id="mp-pusher">
<!-- start menu-pushed.html-->
<nav class="menu-pushed scrollbar">
    <ul class="unstyled">
        <li class="item">
            <a href="">Home</a>
        </li>
        <li class="item">
            <a href="">Latest News</a>
        </li>
        <li class="item">
            <a href="">What We Do</a>
        </li>
        <li class="item">
            <a href="">Another Link</a>
        </li>
        <li class="item">
            <a href="">Contact</a>
        </li>
        <li class="item">
            <a href="">Home</a>
        </li>
        <li class="item">
            <a href="">Latest News</a>
        </li>
        <li class="item">
            <a href="">What We Do</a>
        </li>
        <li class="item">
            <a href="">Another Link</a>
        </li>
        <li class="item">
            <a href="">Contact</a>
        </li>
        <li class="item">
            <a href="">Home</a>
        </li>
        <li class="item">
            <a href="">Latest News</a>
        </li>
        <li class="item">
            <a href="">What We Do</a>
        </li>
        <li class="item">
            <a href="">Another Link</a>
        </li>
        <li class="item">
            <a href="">Contact</a>
        </li>
        <li class="item">
            <a href="">Home</a>
        </li>
        <li class="item">
            <a href="">Latest News</a>
        </li>
        <li class="item">
            <a href="">What We Do</a>
        </li>
        <li class="item">
            <a href="">Another Link</a>
        </li>
        <li class="item">
            <a href="">Contact</a>
        </li>
    </ul>
</nav>
<!-- end menu-pushed.html-->

<!-- start header.html-->
<header class="header">
    <div class="app-head">
        <div class="container">
            <div class="app-head-menu">
                <div class="item">
                    <a href="#" class="btn-grey">Мой кабинет</a>
                </div>
            </div>
            <nav class="nav-head">
                <a class="item" href="#">Оплата и доставка</a>
                <a class="item" href="#">Гарантия</a>
                        <span class="dropdown">
                            <a href="javascript:void(0);" class="dropbtn">Информация для покупателя</a>
                            <span class="dropdown-content">
                                <span class="dropdown-item"><a href="#">Информация для покупателя</a></span>
                                <span class="dropdown-item"><a href="#">Информация для покупателя</a></span>
                                <span class="dropdown-item"><a href="#">Информация для покупателя</a></span>
                                <span class="dropdown-item"><a href="#">Информация для покупателя</a></span>
                            </span>
                        </span>
                <a class="item" href="#">Блог</a>
                <a class="item share" href="#"><i class="icon-share-red"></i> Акции</a>
            </nav>
        </div>
    </div>
    <div class="container-header fixed-panel">
        <div class="header-panel">
            <div class="container">
                <a href="javascript:void(0);" class="btn-menu" onclick="$('#mp-pusher').toggleClass('mp-pushed')"><i class="icon-menu"></i></a>
                <div class="areabar">
                    <div class="phones">
                        <span class="dropdown size18">
                            <a href="javascript:void(0);" class="dropbtn">0 800 303 505</a>
                            <span class="dropdown-content">
                                <span class="dropdown-item">0 800 303 505</span>
                                <span class="dropdown-item">0 800 303 505</span>
                                <span class="dropdown-item">0 800 303 505</span>
                            </span>
                        </span>
                        <div class="calls-free">Звонки бесплатны по Украине</div>
                        <a class="dotted text tdhide" href="javascript:void(0);">Заказать звонок</a>
                    </div>

                    <a class="item" href="#">
                        <span class="menu-icon"><span><i class="icon-my-car"></i></span></span>
                        <span class="menu-text">мое авто</span>
                    </a>
                    <a class="item" href="#">
                        <span class="menu-icon"><span><i class="icon-card"></i></span></span>
                        <span class="menu-text">корзина</span>
                    </a>
                    <a class="item active" href="#">
                        <span class="menu-icon"><span><i class="icon-favorite"></i></span></span>
                        <span class="menu-text">закладки</span>
                    </a>
                </div>

                <div class="wrapper">
                    <a href="#" class="logo"><img src="../../dist/img/logo.png" alt="logo ria.com" width="242" height="59"> </a>
                    <div class="searchfield">
                        <div class="dhide app-head-bar">
                            <a href="#" class="item" ><span class="icon-search-white"></span></a>
                            <a href="#" class="item" ><span class="icon-card-white"></span></a>
                            <a href="#" class="item" ><span class="icon-favorite-white"></span></a>
                        </div>
                        <form class="mhide">
                            <input type="text" placeholder="Я ищу ..." name="currency" class="biginput">
                            <button class="button-search" type="submit"><i class="icon-search"></i></button>
                        </form>
                    </div>
                </div>


                <div class="mobile-phone">
                    <div class="i-block"><a href="tel:(067) 405-23-53">(067) 405-23-53</a>,</div>
                    <div class="i-block"><a href="tel:(067) 405-23-53">(044) 364-51-58</a>,</div>
                    <div class="i-block"><a href="tel:(067) 405-23-53">(050) 461-17-14</a>,</div>
                    <div class="i-block"><a href="tel:(067) 405-23-53">(093) 190-27-25</a></div>
                </div>

            </div>
        </div>
    </div>
    <div class="menu-bg">
        <div class="container">
            <div class="menu-head">
                <div class="container main-menu">
                    <nav class="nav-menu">
                        <a class="item active" href="#"><span>Шины</span></a>
                        <a class="item" href="#"><span>Диски</span></a>
                        <a class="item" href="#"><span>Колпаки</span></a>
                        <a class="item" href="#"><span>Коврики</span></a>
                        <a class="item" href="#"><span>Чехлы на сиденья</span></a>
                        <a class="item" href="#"><span>Аксесуары и тюнинг</span></a>
                        <a class="item" href="#"><span>Автоэлектроника</span></a>
                        <a class="item shares" href="#"><span>Акции</span></a>
                    </nav>
                    <div class="second-block hide"><!-- hide -->
                        <div class="row bot-null">
                            <ul class="span3 unstyled">
                                <li class="item"><a href="#">Подбор шин <span class="bold">по размеру</span> <span class="grey">(10)</span></a></li>
                                <li class="item"><a href="#">Подбор шин <span class="bold">по автомобилю</span> <span class="grey">(10)</span></a></li>
                                <li class="item"><a href="#">Поиск <span class="bold">по производителю</span> <span class="grey">(10)</span></a></li>
                            </ul>
                            <ul class="span3 unstyled">
                                <li class="item"><a href="#">ТОП 10 отзывов о шинах</a></li>
                                <li class="item"><a class="red" href="#">Акции / спеццена (10) </a></li>
                                <li class="item"><a class="red" href="#">Лидеры продаж (10)</a></li>
                                <li class="item"><a class="red" href="#">Новинки (10)</a></li>
                            </ul>
                            <div class="span6 top-btand">
                                <a href="#" class="img-sb"><img src="../../dist/img/demo/menu1.jpg" alt="" /></a>
                                <div class="content">
                                    <a href="#"><img src="../../dist/img/demo/brand1.jpg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!-- .header-->
<!-- end header.html-->

<main class="main">
    <div class="container ">
        <div class="carousel-view">

            <div class="select-car">
                <div class="title">Выберите ваш автомобиль</div>
                <form class="form-select-car ">
                    <div class="rows">
                        <select class="e-form" id="marks" name="marka_id" data-field="brand" data-placeholder="Выберите марка">
                            <option value="0">Выберите марка</option>
                            <option value="98">Acura (185)</option>
                            <option value="8">Bentley (128)</option>
                            <option value="9">BMW (10373)</option>
                        </select>
                    </div>
                    <div class="rows">
                        <select class="e-form" id="models" name="model_id" data-field="model" data-placeholder="Выберите модель">
                            <option value="0">Выберите модель</option>
                            <option value="2161">1 Series (80)</option>
                            <option value="36539">1 Series М (4)</option>
                            <option value="34670">116 (25)</option>
                            <option value="34671">118 (40)</option>
                            <option value="34672">120 (11)</option>
                            <option value="34673">123 (0)</option>
                            <option value="34674">125 (1)</option>
                        </select>
                    </div>
                    <div class="rows">
                        <select class="e-form" id="year" name="s_yers[0]" data-placeholder="Выберите год">
                            <option value="0">Выберите год</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                        </select>
                    </div>
                    <div class="rows text-r">
                        <button class="button-primary" type="submit">Поиск <i class="icon-area"></i></button>
                    </div>
                </form>
                <form class=""><!-- hide-->
                    <div class="selected-parameters _border">
                        <div class="setup-car"><i class="autoparts-audi"></i> Audi A4 2002</div>
                        <div class="back-change"><a class="dotted white" href="#"><i class="icon-area left-area"></i> Изменить</a></div>
                    </div>
                    <div class="rows text-r">
                        <button class="button-primary" type="submit">Поиск <i class="icon-area"></i></button>
                    </div>
                </form>
            </div>
            <div class="mhide">
                <img src="../../dist/img/demo/img-carousel.jpg" />
                <div class="nav-carousel">
                    <a href="#" class="item">
                        <span>Результаты тестирования бюджетных</span>
                        летних шин размера 195 / 65 R15
                    </a>
                    <a href="#" class="item">
                        <span>Результаты тестирования бюджетных</span>
                        летних шин размера 195 / 65 R15
                    </a>
                    <a href="#" class="item active">
                        <span>Cordiant</span>
                        рожденное сцепление с дорогой.
                    </a>
                </div>
            </div>
        </div>
        <div class="box-panel advantages mhide">
            <div class="item"><i class="icon-shipping"></i> Бесплатная доставка</div>
            <div class="item"><i class="icon-dollar"></i> Без предоплат</div>
            <div class="item"><i class="icon-work"></i> Работаем 24/7</div>
        </div>

        <div class="header-banner-m dhide">
            <a href="#"><img src="../../dist/img/demo/m-banner.jpg" /></a>
        </div>

        <div class="box-panel line">
            <h2 class="title-head">Хиты продаж</h2>

            <div class="rotation-container">
                <a href="javascript:void(0);" title="Предыдущие товары" class="rotation-item carousel-control prev"></a>
                <a href="javascript:void(0);" title="Следующие товары" class="rotation-item carousel-control next"></a>
                <div class="rotation-view nav-carousel-category">
                    <div class="boxed" style="width: 2000px">
                        <a href="javascript:void(0);" class="item-section">
                            Шины <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section">
                            Диски <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section">
                            Чехлы <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section active">
                            Шины <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section active">
                            Диски <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section active">
                            Чехлы <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section">
                            Шины <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section">
                            Диски <span>(10)</span>
                        </a>
                        <a href="javascript:void(0);" class="item-section">
                            Чехлы <span>(10)</span>
                        </a>

                    </div>
                </div>

            </div>

            <div class="row bot-null">
                <div class="span4 view-ticket">
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/51/5174/517402/517402bx.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">Rosava</strong> SQ-201 Aqualine
                                    </span>
                                    <span class="item size13">для коммперческого транспорта</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">3 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/51/5196/519698/519698bx.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">Rosava</strong> SQ-201 Aqualine
                                    </span>
                                    <span class="item size13">для коммперческого транспорта</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">3 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/51/5194/519463/519463bx.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">Rosava</strong> SQ-201 Aqualine
                                    </span>
                                    <span class="item size13">для коммперческого транспорта</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">3 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <div class="show-more text-c"><a href="#">Смотреть 10 шин →</a></div>
                </div>
                <div class="span4 view-ticket">
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/38/3881/388190/388190s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">RS Tuning</strong> 584J DGM
                                    </span>
                                    <span class="item size13">легкосплавные диски</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">1 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/38/3882/388274/388274s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">RS Tuning</strong> 584J DGM
                                    </span>
                                    <span class="item size13">легкосплавные диски</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">1 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/52/5287/528742/528742s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">RS Tuning</strong> 584J DGM
                                    </span>
                                    <span class="item size13">легкосплавные диски</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">1 585 грн</strong> / шт</span>
                                </span>
                    </a>
                    <div class="show-more text-c"><a href="#">Смотреть 10 дисков →</a></div>
                </div>

                <div class="span4 view-ticket">
                    <a href="#" class="view-ticket-item discount">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/26/2698/269860/269860s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed"><span class="label-discount">- 10%</span> Elegant Volkswa-</strong> gen Polo - Чехлы на сиденья
                                    </span>
                                    <span class="item size13">автоткань / эко кожа</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <span class="old-price">2 200</span> <strong class="green">1 585 грн</strong> / компл</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item discount">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/28/2871/287177/287177s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed"><span class="label-discount">- 10%</span> Elegant Volkswa-</strong> gen Polo - Чехлы на сиденья
                                    </span>
                                    <span class="item size13">автоткань / эко кожа</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <span class="old-price">2 200</span> <strong class="green">1 585 грн</strong> / компл</span>
                                </span>
                    </a>
                    <a href="#" class="view-ticket-item">
                                <span class="ticket-photo">
                                    <img class="photo-140x140" src="https://cdn.riastatic.com/photos/auto/treba/46/4647/464740/464740s.jpg" alt="" />
                                </span>
                                <span class="content">
                                    <span class="item ticket-title">
                                        <strong class="boxed">Elegant Volkswa-</strong> gen Polo - Чехлы на сиденья
                                    </span>
                                    <span class="item size13">автоткань / эко кожа</span>
                                    <object>
                                        <a href="#review" class="item ticket-review">
                                            <span class="bold">4.5</span>
                                            <span class="rating"><span class="scale" style="width: 75%"></span></span>
                                            <span class="i-block">386 отзыва</span>
                                        </a>
                                    </object>
                                    <span class="item price-ticket">от <strong class="green">1 585 грн</strong> / компл</span>
                                </span>
                    </a>
                    <div class="show-more text-c"><a href="#">Смотреть 10 чехлов →</a></div>
                </div>
            </div>

        </div>

        <div class="box-panel line">
            <div class="head">
                <h2 class="title-head inline">Категории товаров</h2>
            </div>

            <div class="category-view">
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/bus-big.png" media="(min-width: 980px)" />
                                        <source srcset="../../dist/img/i-category/bus-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/bus.png"
                                             alt="Шины"
                                             title="Шины" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Шины <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/diski-big.png" media="(min-width: 980px)" />
                                        <source srcset="../../dist/img/i-category/diski-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/diski.png"
                                             alt="Диски"
                                             title="Диски" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Диски <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/kolpak-big.png" media="(min-width: 980px)" />
                                        <source srcset="../../dist/img/i-category/kolpak-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/kolpak.png"
                                             alt="Колпаки"
                                             title="Колпаки" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Колпаки <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/kovriki-big.png" media="(min-width: 980px)" />
                                        <source srcset="../../dist/img/i-category/kovriki-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/kovriki.png"
                                             alt="Ковры в салон"
                                             title="Ковры в салон" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Ковры в салон <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/avtochehlu-big.png" media="(min-width: 980px)" />
                                        <source srcset="../../dist/img/i-category/avtochehlu-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/avtochehlu.png"
                                             alt="Чехлы"
                                             title="Чехлы" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Чехлы <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/kovriki-bagaj-m.png" media="(max-width: 480px)" />
                                        <source srcset="../../dist/img/i-category/kovriki-bagaj.png" media="(max-width: 1199px)" />
                                        <img src="../../dist/img/i-category/kovriki-bagaj-big.png"
                                             alt="Ковры в багажник"
                                             title="Ковры в багажник" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Ковры в багажник <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/alarm-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/alarm.png"
                                             alt="Сигнализация"
                                             title="Сигнализация" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Сигнализация <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/navigator-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/navigator.png"
                                             alt="GPS навигаторы"
                                             title="GPS навигаторы" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">GPS навигаторы <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/radio-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/radio.png"
                                             alt="Автомагнитолы"
                                             title="Автомагнитолы" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Автомагнитолы <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/farkop-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/farkop.png"
                                             alt="Фаркопы"
                                             title="Фаркопы" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Фаркопы <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/dvrs-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/dvrs.png"
                                             alt="Видеорегистраторы"
                                             title="Видеорегистраторы" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Видеорегистр. <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/body_protection-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/body_protection.png"
                                             alt="Защита двигателя"
                                             title="Защита двигателя" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Защита двигателя <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/deflector-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/deflector.png"
                                             alt="Дефлекторы на капот"
                                             title="Дефлекторы на капот" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Дефлекторы на капот <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/deflector_window-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/deflector_window.png"
                                             alt="Дефлекторы на окна"
                                             title="Дефлекторы на окна" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Дефлекторы на окна <span class="grey">(10)</span></span>
                </a>
                <a class="item" href="#">
                            <span class="img-category">
                                <span>
                                    <picture>
                                        <source srcset="../../dist/img/i-category/brizgovik-m.png" media="(max-width: 480px)" />
                                        <img src="../../dist/img/i-category/brizgovik.png"
                                             alt="Брызговики"
                                             title="Брызговики" />
                                    </picture>
                                </span>
                            </span>
                    <span class="title-category">Брызговики <span class="grey">(10)</span></span>
                </a>
            </div>
        </div>

        <div class="box-panel line mhide">
            <div class="head">
                <h2 class="title-head inline">Популярные автомобили</h2>
                <nav class="nav-pills mhide">
                    <a class="pills active" href="javascript:void(0)">Марки</a>
                    <a class="pills" href="javascript:void(0)">Марки / Модели</a>
                </nav>
            </div>
            <ol class="seo-catalog columns-6 noline">
                <li class="item"><a class="elem" href="#">Audi</a></li>
                <li class="item"><a class="elem" href="#">BMW</a></li>
                <li class="item"><a class="elem" href="#">BYD</a></li>
                <li class="item"><a class="elem" href="#">Chery</a></li>
                <li class="item"><a class="elem" href="#">Chevrolet</a></li>
                <li class="item"><a class="elem" href="#">Daewoo</a></li>
                <li class="item"><a class="elem" href="#">Ford</a></li>
                <li class="item"><a class="elem" href="#">Honda</a></li>
                <li class="item"><a class="elem" href="#">Hyundai</a></li>
                <li class="item"><a class="elem" href="#">Mazda</a></li>
                <li class="item"><a class="elem" href="#">Mitsubishi</a></li>
                <li class="item"><a class="elem" href="#">Opel</a></li>
                <li class="item"><a class="elem" href="#">Peugeot</a></li>
                <li class="item"><a class="elem" href="#">Renault</a></li>
                <li class="item"><a class="elem" href="#">Skoda</a></li>
                <li class="item"><a class="elem" href="#">Toyota</a></li>
                <li class="item"><a class="elem" href="#">Volkswagen</a></li>
                <li class="item"><a class="elem" href="#">ВАЗ (Lada)</a></li>
                <li class="item"><a class="elem" href="#">ГАЗ</a></li>
                <li class="item"><a class="elem" href="#">ЗАЗ</a></li>
                <li class="item"><a class="elem" href="#">ЗиС</a></li>
                <li class="item"><a class="elem" href="#">Москвич</a></li>
                <li class="item"><a class="elem" href="#">Audi</a></li>
                <li class="item"><a class="elem" href="#">BMW</a></li>
                <li class="item"><a class="elem" href="#">BYD</a></li>
                <li class="item"><a class="elem" href="#">Chery</a></li>
                <li class="item"><a class="elem" href="#">Chevrolet</a></li>
                <li class="item"><a class="elem" href="#">Daewoo</a></li>
                <li class="item"><a class="elem" href="#">Ford</a></li>
                <li class="item"><a class="elem" href="#">Honda</a></li>
                <li class="item"><a class="elem" href="#">Hyundai</a></li>
                <li class="item"><a class="elem" href="#">Mazda</a></li>
                <li class="item"><a class="elem" href="#">Mitsubishi</a></li>
                <li class="item"><a class="elem" href="#">Opel</a></li>
                <li class="item"><a class="elem" href="#">Peugeot</a></li>
                <li class="item"><a class="elem" href="#">Renault</a></li>
                <li class="item"><a class="elem" href="#">Skoda</a></li>

            </ol>
        </div>

        <div class="box-panel line mhide">
            <div class="head">
                <h2 class="title-head inline">Популярные бренды</h2>
            </div>
            <div class="row bot-null brand-view">
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand1.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand2.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand1.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand2.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand1.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand2.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand1.jpg" /></a></div>
                <div class="item span3"><a href="#"><img src="../../dist/img/demo/brand2.jpg" /></a></div>
            </div>
        </div>

        <div class="box-panel">
            <div class="head">
                <h2 class="title-head inline">Интересные статьи / Блог</h2>
                <nav class="nav-pills mhide">
                    <a class="pills active" href="javascript:void(0)">Зимние шины</a>
                    <a class="pills" href="javascript:void(0)">Диски</a>
                    <a class="pills" href="javascript:void(0)">Колпаки</a>
                    <a class="pills" href="javascript:void(0)">Автосигнализация</a>
                    <a class="pills" href="javascript:void(0)">Коврики в багажник</a>
                </nav>
            </div>

            <div class="row bot-null view-blog-news">
                <div class="span3 item">
                    <a class="photo-blog" href="#">
                        <img class="m-auto" src="https://cdn.riastatic.com/photos/market/content_marketing/0/46/4668/4668fx.jpg" />
                    </a>
                    <a class="title-blog" href="#">Автомобильные чехлы из экокожи ELEGANT PREMIUM</a>
                    <div class="description">Новинка представляет из себя модельные автомобильные ...</div>
                </div>

                <div class="span3 item">
                    <a class="photo-blog" href="#">
                        <img src="https://cdn.riastatic.com/photos/market/content_marketing/0/85/8552/8552fx.jpg" />
                    </a>
                    <a class="title-blog" href="#">Акция от MARKET.RIA.com</a>
                    <div class="description">Акция от магазина автотоваров MARKET.RIA действует с 25 апреля по 25 мая....</div>
                </div>

                <div class="span3 item">
                    <a class="photo-blog" href="#">
                        <img src="https://cdn.riastatic.com/photos/market/content_marketing/0/77/7785/7785fx.jpg" />
                    </a>
                    <a class="title-blog" href="#">Как выбрать коврики для автомобиля?</a>
                    <div class="description">Коврики для автомобиля ошибочно относят к категории принадлежностей, не заслуживающих ...</div>
                </div>

                <div class="span3 item">
                    <a class="photo-blog" href="#">
                        <img src="https://cdn.riastatic.com/photos/market/content_marketing/0/12/1224/1224fx.jpg" />
                    </a>
                    <a class="title-blog" href="#">Результаты тестирования бюджетных летних шин размера 195/65 R15</a>
                    <div class="description">10 летних шин. 2 лидера и тройка аутсайдеров. Узнайте какие бюджетные шины заняли лидирующую позицию....</div>
                </div>
            </div>
        </div>


    </div>
</main><!-- .content -->


<!-- start footer.html-->
<footer class="footer">
    <div class="menu-bg">
        <div class="container">
            <div class="row bot-null">
                <ul class="unstyle span3">
                    <li class="item-menu"><a href="#">Оплата и доставка</a></li>
                    <li class="item-menu"><a href="#">Гарантия</a></li>
                    <li class="item-menu"><a href="#">Информация для покупателя</a></li>
                    <li class="item-menu"><a href="#">Блог</a></li>
                    <li class="item-menu"><a href="#">Акции</a></li>
                    <li class="item-menu"><a href="#">Мой кабинет</a></li>
                </ul>
                <ul class="unstyle span3">
                    <li class="item-menu"><a href="#">Шины <span class="grey-f">(10)</span></a></li>
                    <li class="item-menu"><a href="#">Диски <span class="grey-f">(10)</span></a></li>
                    <li class="item-menu"><a href="#">Чехлы <span class="grey-f">(10)</span></a></li>
                    <li class="item-menu"><a href="#">Коврики <span class="grey-f">(10)</span></a></li>
                    <li class="item-menu"><a href="#">Аксессуары и тюнинг <span class="grey-f">(10)</span></a></li>
                    <li class="item-menu"><a href="#">Автоэлектроника <span class="grey-f">(10)</span></a></li>
                </ul>
                <ul class="unstyle span3">
                    <li class="item-menu">Звонки бесплатны по Украине</li>
                    <li class="item-menu phone">(067) 405-23-53</li>
                    <li class="item-menu phone">(050) 461-17-14</li>
                    <li class="item-menu phone">(093) 190 27 25</li>
                    <li class="item-menu phone">(044) 364-51-58</li>
                </ul>
                <ul class="unstyle span3">
                    <li class="item-menu">График работы MARKET.RIA</li>
                    <li class="item-menu">
                        <ul class="unstyle schedule">
                            <li class="size18">с 8:00 до 21:00</li>
                            <li class="grey-f"><span>В субботу:</span> с 9:00 до 20:00</li>
                            <li class="grey-f"><span>В воскресенье:</span> с 10:00 до 19:00</li>
                            <li><a href="#" class="unlink button">Заказать звонок</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <img class="logo-ria-small" src="../../dist/img/logo-small-uk.png" alt="logo RIA" width="60" height="45" />
        © 2014-2016 RIA.com
    </div>
</footer><!-- .footer -->
<!-- end footer.html-->

<!-- start nav-source.html-->
<div class="nav-source">
    <div class="nav-source-item mobile400">mobile400 (max400px)</div>
    <div class="nav-source-item mobile480">mobile480 (max480px)</div>
    <div class="nav-source-item mobile480_min">mobile480_min (min480px)</div>
    <div class="nav-source-item mobile">mobile (max768px)</div>
    <div class="nav-source-item mobile_min">mobile_min (min769px)</div>
    <div class="nav-source-item tablet_desktop">tablet_desktop (769px - 979px)</div>
    <div class="nav-source-item tablet">tablet (max979px)</div>
    <div class="nav-source-item desktop_large_desktop">desktop_large_desktop (980px - 1199px)</div>
    <div class="nav-source-item desktop_min">desktop_min (min980px)</div>
    <div class="nav-source-item large_desktop">large_desktop (min1200px)</div>
</div>
<!-- end nav-source.html-->

</body>
</html>
